<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Commodity</title>
    <style>
      li {
        padding: 5px;
      }
      table {
        text-align: center;
      }
      td {
        padding: 8px;
      }
      button {
        margin: 0 4px;
      }
    </style>
  </head>
  <body>
   
    <ul>
      <li id="id">Id: 2341</li>
      <li id="name">Name: Galaxy S21</li>
      <li id="providerId">Provider Id: 1781</li>
      <li id="price">Price: 21000000</li>
      <li id="categories">Categories: Technology, Phone</li>
      <li id="rating">Rating: 8.3</li>
      <li id="inStock">In Stock: 17</li>
    </ul>

    <form id="rate-commodity" action="/rateCommodity" method="POST">
      <label>Your ID:</label>
      <input type="text" name="username" />
      <label>Rate(between 1 and 10):</label>
      <input type="number" name="rate" min="1" max="10" />
      <input type="hidden" name="commodity-id" />
      <button type="submit">Rate</button>
    </form>
    <br>
    <form id="add-to-buy-list" action="/addToBuyList" method="POST">
      <label>Your ID:</label>
      <input type="text" name="username" />
      <input type="hidden" name="commodity-id" />
      <button type="submit">Add to BuyList</button>
    </form>
    <br />

    <table>
      <tr>
        <th>username</th>
        <th>comment</th>
        <th>date</th>
        <th></th>
        <th></th>
      </tr>
    </table>
   
  </body>
</html>
