<web-app>
    <servlet>
        <servlet-name>Hello</servlet-name>
        <jsp-file>/hello.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Commodities</servlet-name>
        <jsp-file>/commodities.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>SearchCommodityByCat</servlet-name>
        <jsp-file>/searchCommodityByCat.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>Provider</servlet-name>
        <jsp-file>/provider.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddToBuyList</servlet-name>
        <jsp-file>/addToBuyList.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>OK</servlet-name>
        <jsp-file>/ok.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Forbidden</servlet-name>
        <jsp-file>/forbidden.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>NotFound</servlet-name>
        <jsp-file>/not-found.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Commodities</servlet-name>
        <url-pattern>/commodities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider</servlet-name>
        <url-pattern>/providers/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SearchCommodityByCat</servlet-name>
        <url-pattern>/commodities/search/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddToBuyList</servlet-name>
        <url-pattern>/addToBuyList/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OK</servlet-name>
        <url-pattern>/ok</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forbidden</servlet-name>
        <url-pattern>/forbidden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotFound</servlet-name>
        <url-pattern>/not-found</url-pattern>
    </servlet-mapping>
</web-app>